In computer science, a set is an abstract data type that can store unique values, without any particular order. It is a computer implementation of the mathematical concept of a finite set. Unlike most other collection types, rather than retrieving a specific element from a set, one typically tests a value for membership in a set.

#### Assignment

In [15]:
a = {1, 2, 3, 4, 5}

In [16]:
type(a)

set

In [17]:
b = {1, 1, 2, 3}

In [18]:
b

{1, 2, 3}

> Duplicates are ignored

In [19]:
for item in b:
    print (item)

1
2
3

In [20]:
b.add(5)

In [21]:
b

{1, 2, 3, 5}

In [22]:
b.discard(5)

In [23]:
b

{1, 2, 3}

#### Intersection, Union and Difference

In [28]:
a = {2, 4, 6, 8, 10, 12, 14, 16, 18, 20}
b = {3, 6, 9, 12, 15, 18, 21}

In [29]:
a | b

{2, 3, 4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21}

In [30]:
a & b

{6, 12, 18}

In [31]:
a - b

{2, 4, 8, 10, 14, 16, 20}

In [32]:
b - a

{3, 9, 15, 21}

### Converting list to set

In [35]:
list_a = [1, 2, 3, 4, 5]

In [36]:
set_a = set(list_a)

In [37]:
set_a

{1, 2, 3, 4, 5}

### Converting set to list

In [38]:
list_b = list(set_a)

In [39]:
list_b

[1, 2, 3, 4, 5]

When will you encounter problems? What will happen if list that has duplicate values is converted into set and converted back into list?

#### Checking if list has all unique elements

In [40]:
x = [1, 2, 3, 4, 5]
len(x)==len(set(x))

True

In [42]:
y = [1, 1, 2, 3, 4, 5]
len(y)==len(set(y))

False

### Monte Carlo Simulation

Monte Carlo methods (or Monte Carlo experiments) are a broad class of computational algorithms that rely on repeated random sampling to obtain numerical results. Their essential idea is using randomness to solve problems that might be deterministic in principle. They are often used in physical and mathematical problems and are most useful when it is difficult or impossible to use other approaches. Monte Carlo methods are mainly used in three problem classes:[1] optimization, numerical integration, and generating draws from a probability distribution.

### Birthday Probability
In probability theory, the birthday problem or birthday paradox concerns the probability that, in a set of n randomly chosen people, some pair of them will have the same birthday. By the pigeonhole principle, the probability reaches 100% when the number of people reaches 367 (since there are only 366 possible birthdays, including February 29). However, 99.9% probability is reached with just 70 people, and 50% probability with 23 people. These conclusions are based on the assumption that each day of the year (excluding February 29) is equally probable for a birthday.

In [43]:
import random

In [51]:
iterations = 10000
count = 0
number_of_people = 70
for i in range(iterations):
    birthday_list = []
    for i in range(number_of_people):
        birthday_list.append(random.randint(1, 366))
    if (len(birthday_list)) != len(set(birthday_list)):
        count = count + 1
print (count/iterations)

0.9993